.hero {
    background-image: url(/images/cute-dog-headshot.jpg);
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}
.fs-1 {
    font-size: 4rem!important;
}
.fs-1, .fs-3{
    color: black;
}
.btn {
    width: 200px;
    height: 50px;
    padding: 10px 20px;
}